<h2>Add new animal</h2>
<div class="wrap animals-form front">
    <div class="form-group">
        <label for="animals-title"><?php esc_html_e('Animals Title', 'animals-domain'); ?></label>
        <input type="text" name="animals_title" id="animals-title" value="" required>
    </div>
    <div class="form-group">
        <label for="animals-color"><?php esc_html_e('Animals Color', 'animals-domain'); ?></label>
        <input type="text" name="animals_color" id="animals-color" value="" required>
    </div>
    <div class="form-group">
        <label for="animals-age"><?php esc_html_e('Animals Age', 'animals-domain'); ?></label>
        <input type="number" name="animals_age" id="animals-age" value="" required>
    </div>
    <div class="form-group">
        <button class="btn btn-add info">Create Animal</button>
    </div>
</div>
